html{font-size:16px;}
body{color:#3f3f3f;line-height:1.5em;letter-spacing:0.8pt;text-align:center;background:＃F4F5F7;}
header,article,footer{overflow:hidden;}
p{margin:1rem 0 0 0;}
p:first-of-type{margin:2rem 0 0 0;}
h1,h2,h3{letter-spacing:0pt;margin:
2rem 0 0 0;}
h1{font-size:2rem;}
h2{font-size:1.5rem;margin:
2rem 0 2rem 0;}
h3{font-size:1rem;margin:
1rem 0 0 0;}
img{margin:
2rem 0 0 0;width:100%;max-width:640px;}
footer{font-size:0.8rem;margin:2rem 0 1rem 0;letter-spacing:0pt;line-height:1.2em;}
a{color:#0000cc;text-decoration: underline;}
a:visited{color:#551A8B;}


@media screen and (max-width:499px) {
/* 499pxまでの幅の場合に適応 */
body{padding:0 2rem;text-align:left;}
}















































